.game-title {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    width: 50rem; 
    max-width:95rem;
    background-color:#f5c4fa;
    text-align: center;
<<<<<<< HEAD
}
||||||| 89e4fc9
}
=======
    font-weight: 700;
    font-size: 3em;
}
>>>>>>> dev
