<<<<<<< HEAD
.new-game {
        margin: 2rem auto;
        padding: 1rem;
        width: 50rem; 
        max-width:95rem;
        background-color:aliceblue;
        text-align: center;
}
||||||| 0b59838
=======
.new-game {
        margin: 1rem auto;
        padding: 1rem;
        width: 50rem; 
        max-width:95rem;
        background-color:aliceblue;
        text-align: center;
}
>>>>>>> dev
