<<<<<<< HEAD
.question{
        margin: 2rem auto;
        padding: 1rem;
        width: 50rem; 
        max-width:95rem;
        background-color:aliceblue;
        text-align: center;
}

.question-form{
    margin: 2rem auto;
    padding: 1rem;
    width: 50rem; 
    max-width:95rem;
    background-color:aliceblue;
}
||||||| 0b59838
=======
.question{
        margin: 1rem auto;
        padding: 1rem;
        width: 50rem; 
        max-width:95rem;
        background-color:aliceblue;
        text-align: center;
}

.question-form{
    margin: 1rem auto;
    padding: 1rem;
    width: 50rem; 
    max-width:95rem;
    background-color:aliceblue;
}
>>>>>>> dev
