.question{
        margin: 1rem auto;
        padding: 1rem;
        width: 40rem; 
        max-width:95rem;
        background-color:aliceblue;
        text-align: center;
}

.question-form{
    margin: 1rem auto;
    padding: 1rem;
    width: 40rem; 
    max-width:95rem;
    background-color:aliceblue;
}