.app-card {
  margin: 1rem auto;
  width: 100%;
  background-image: url(./img/white-lotus-wall-paper-cheetah.png);
}

.qa-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 95%;
  background-color: aliceblue;
  font-weight: 600;
}
