.score-lives {
        margin: 1rem auto;
        padding: 1rem;
        width: 40rem; 
        max-width:95rem;
        background-color:aliceblue;
        text-align: center;
<<<<<<< HEAD
}
||||||| 89e4fc9
}
=======
        font-weight: 600;
        font-size: 2em;
}
>>>>>>> dev
